/* 1. CONFIGURACIÓN GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(140, 193, 226);
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* 2. ESTRUCTURA DEL ENCABEZADO */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Alinea verticalmente el título y el menú */
  padding: 10px;
  background-color: rgb(114, 114, 228);
}

.titulo {
  color: white;
}

/* 3. NAVEGACIÓN (LISTA) */
.nav-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  list-style: none;
}

/* 4. ENLACES Y ESTADOS (HOVER/ACTIVE) */
.nav-link {
  text-decoration: none;
  color: rgb(255, 255, 255); /* Color inicial */
  font-size: small;
}

/* Cambia el color al pasar el ratón */
.nav-link:hover {
  color: #22e639;
}

/* Resalta el enlace seleccionado */
.nav-link.active {
  color: #77b3db;
}
/*Seccion 1*/
.seccion-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25vh;
  background-image: url("https://cdn.pixabay.com/photo/2016/11/20/09/12/castle-1842324_1280.jpg");
  background-size: cover;
  background-position: center;
}
.titulo-2 {
  display: flex;
  justify-content: center;
  font-size: medium;
}
.p-1 {
  display: flex;
  justify-content: center;
  margin: 5px;
}
.button-1 {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 5px 10px;
  background-color: rgb(126, 126, 191);
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: small;
  transform: scale();
}
.button-1:hover {
  background-color: rgb(100, 100, 170);
  transform: scale(1.1);
}

/*SECCION DE PELIS DESTACADAS*/
.seccion-peliculas {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: space-between;
  gap: 40px;
  padding: 20px 30px;
}
.tarjeta-peli img {
  border-radius: 20px;
  width: 150px;
  height: 150px;
  background-color: grey;
  display: block;
  margin-bottom: 10px;
}
.tarjeta-peli > h3 {
  font-size: 1rem;
  font-weight: bold;
  margin: 5px;
}
.tarjeta-peli p {
  font-size: 1.1rem;
  margin-bottom: 10px;
}
/*SECCION PERSONAJES DESTACADOS*/
.seccion-personajes {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}
.tarjeta-personaje-1 {
  background-color: aqua;
}
.tarjeta-personaje-2 {
  background-color: chocolate;
}
.tarjeta-personaje-3 {
  background-color: blueviolet;
}
.tarjeta-personaje-4 {
  background-color: darkolivegreen;
}

/*EVENTOS*/

.lista-Evento-1,
.lista-Evento-2 {
  background-color: #22e639;
}
.lista-Evento-3 {
  background-color: blanchedalmond;
}
/*FOOTER*/
.enlaces {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  list-style: none;
}
.enlaces>li>a:hover{
  color: blue;
  
}
.enlaces a {
  text-decoration: none;
  color: #000000;
  margin-right: 10px;
}
