h1, h2,p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    font-size: x-small;
}

blockquote {
    font-style: italic;
    color: blue;
}